[%if count($array) > 0%]
[%forlist from=$array key=list%]
<div class="infolist" onselectstart="return false;" title="[%$array[list].payname%]" [%if @this->powercheck(151,155)==true %]ondblClick="javascript:parent.onbotton('[%$ST.orderpay_edit_title%]','index.php?archive=payplug&action=payplugedit&opid=[%$array[list].opid%]&type=edit&freshid='+Math.random()+'&iframename='+self.frameElement.getAttribute('name'),true,'opidedit[%$array[list].opid%]',self.frameElement.getAttribute('name'));"[%/if%]>
	<table border="0" style="border-collapse:collapse" width="100%" bordercolor="#FFFFFF">
		<tr>
			<td width="5%"><input type="checkbox" name="selectinfoid" value="[%$array[list].opid%]"></td>
			<td width="8%">
				<input type="hidden" name="infoid" id="infoid" value="[%$array[list].opid%]">
				<input type="text" name="pid" size="3" value="[%$array[list].pid%]" class="infoInput">
			</td>
			<td width="10%">[%$array[list].opid%]</td>
			<td width="25%">[%$array[list].payname%]</td>
			<td width="12%">[%$array[list].paycode%]</td>
			<td width="12%">[%$array[list].payis%]</td>
			<td width="12%">[%$array[list].payplugver%]</td>
			<td width="8%" id="infotype">
				<table>
					<tr>
						<td>[%if $array[list].isclass==1%]<span class="audit_ok" title="[%$ST.open_botton_title%]"></span>[%else%]<span class="audit_no" title="[%$ST.close_botton_title%]"></span>[%/if%]</td>
					</tr>
				</table>
			</td>
			<td width="8%" id="infotype">
				[%if @this->powercheck(151,155)==true %]
				<table border="0" style="border-collapse:collapse" bordercolor="#FFFFFF">
					<tr>
						<td><a class="setedit" onclick="javascript:parent.onbotton('[%$ST.orderpay_edit_title%]','index.php?archive=payplug&action=payplugedit&opid=[%$array[list].opid%]&type=edit&freshid='+Math.random()+'&iframename='+self.frameElement.getAttribute('name'),false,'opidedit[%$array[list].opid%]',self.frameElement.getAttribute('name'));" id="opidedit[%$array[list].opid%]" href="#body" title="[%$array[list].payname%][%$ST.orderpay_edit_title%]" hidefocus="true">[%$ST.setedit_botton%]</a></td>
					</tr>
				</table>
				[%/if%]
			</td>
		</tr>
	</table>
</div>
[%/forlist%]
[%else%]
<div class="infolist">
<table border="0" style="border-collapse:collapse" width="100%" bordercolor="#FFFFFF">
	<tr>
	    <td align="center">[%$ST.list_nothing_title%]</td>
	</tr>
</table>
</div>
[%/if%]