<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">

<head>
<meta content="text/html; charset=utf-8" http-equiv="Content-Type" />
<title>[%$softtitle%]</title>
<link href="templates/css/baselist.css" rel="stylesheet" type="text/css" />
<link href="templates/css/all.css" rel="stylesheet" type="text/css" />
<link href="templates/css/formdiv.css" rel="stylesheet" type="text/css"/>
<script type="text/javascript" src="js/jquery.js"></script>
<script type="text/javascript" src="js/form.js"></script>
<script type="text/javascript" src="js/control.js"></script>
<script type="text/javascript" src="js/cityselect.js"></script>
<script type="text/javascript">

	var resizewindow= null;

	window.onresize = function(){
		var h = $(window).height();
		if(resizewindow!=h){
			sizewindow();
			resizewindow=h;
		}
	}

	function sizewindow(){
		var h = $(window).height();
		if(document.getElementById("mainbodybottonauto")){
			$('.managebottonadd').css({height:h-40});
		}
	}
	var ordermain_js_email_empty  = "[%$ST.ordermain_js_email_empty%]";
	var runok  = "[%$ST.run_ok%]";
	var runno  = "[%$ST.run_no%]";
	var iframename = "[%$iframename%]";
	$(document).ready(function(){
		var h = '[%$iframeheightwindow%]';
		$('.managebottonadd').css({height:h-40});
		sec_cityone([%$read.country%],[%$read.province%]);
		sec_citytwo([%$read.province%],[%$read.city%]);
		sec_district([%$read.city%],[%$read.district%]);
	})

	function paybotton(isclass){
		var um=document.getElementById('paybotton');
		var iframenamenow=self.frameElement.getAttribute('name');
		if (isclass==1) {
			um.innerHTML='<a class="setedit3" id="payadd" onclick="javascript:parent.onbotton(\'[%$ST.ordermain_view_paysubit_b02%]\',\'index.php?archive=payreceipt&action=payreceiptadd&oid=[%$read.oid%]&type=2&freshid='+Math.random()+'&iframename='+iframenamenow+'\',true,\'#payadd\');" href="#body" title="[%$ST.ordermain_view_paysubit_b02%]" hidefocus="true">[%$ST.ordermain_view_paysubit_b02%]</a>'
		}else{
			um.innerHTML=''
		}
	}

	function shipbotton(isclass){
		var um=document.getElementById('shipbotton');
		var iframenamenow=self.frameElement.getAttribute('name');
		if (isclass==1) {
			um.innerHTML='<a class="setedit3" id="shipadd" onclick="javascript:parent.onbotton(\'[%$ST.ordermain_view_paysubit_b04%]\',\'index.php?archive=shipreceipt&action=shipreceiptadd&oid=[%$read.oid%]&type=2&freshid='+Math.random()+'&iframename='+iframenamenow+'\',true,\'#shipadd\');" href="#body" title="[%$ST.ordermain_view_paysubit_b04%]" hidefocus="true">[%$ST.ordermain_view_paysubit_b04%]</a>'
		}else{
			um.innerHTML=''
		}
	}

	function onwindow(loadurl){
		window.open(loadurl, "_blank");
	}
</script>
</head>

<body>
<div id="mainbodybottonauto" class="managebottonadd">
	<div class="maindobycontent">
		<div class="suggestion">
			<span class="sugicon"><span class="strong colorgorning2">[%$ST.position_title%]</span><span class="colorgorningage">[%$ST.ordermain_view_mess%] <u>[%$read.ordersn%]</u> [%$ST.ordermain_edit_mess2%] <u>[%$read.addtime|timeformat(3)%]</u> </span></span>
		</div>
		<div class="manageeditdiv">
			<div class="maneditcontent">
				<table class="formtable">
					<tr class="trstyle2">
						<td class="trtitle03" colspan="2">[%$ST.ordermain_add_info%]</td>
					</tr>
					<tr class="trstyle2">
						<td colspan="2">
							<table style="width:100%">
								<tr>
									<td class="listitle2">[%beark name=tablabel class=orderaddendlist%]</td>
								</tr>
								<tr>
									<td id="orderlistinfo">
									[%if count($array) > 0%]
										[%forlist from=$array key=list%]
											<div class="infolist" id="orderlist[%$array[list].did%]">
												<table border="0" style="width:100%">
													<tr>
														<td width="10%">[%$array[list].did%]</td>
														<td width="60%" id="left" class="padding-left3">[%$array[list].title|cutstr(30)%]</td>
														<td width="11%" id="right" class="padding-right3">[%$order_moneytype%][%$array[list].bprice%]</td>
														<td width="8%">[%$array[list].amount%]</td>
														<td width="11%" id="right" class="padding-right3">[%$order_moneytype%][%$array[list].countprice%]</td>
													</tr>
												</table>
											</div>
										[%/forlist%]
									[%else%]
											<div class="infolist">
												<table border="0" style="width:100%">
													<tr>
														<td align="center">[%$ST.list_nothing_title%]</td>
													</tr>
												</table>
											</div>
									[%/if%]
									</td>
								</tr>
								<tr>
									<td class="infolist displaynone" id="orderamoutinfo">
										<table border="0" style="border-collapse:collapse" width="100%">
											<tr>
												<td id="left" class="padding-left3"><b>[%$ST.ordermain_infolist_text_amount%]</b></td>
												<td id="right" class="padding-right3">[%$ST.ordermain_infolist_text_spamount%][%$order_moneytype%][%$productmoney_f%] - [%$ST.ordermain_infolist_text_zkamount%][%$order_moneytype%][%$discountmoney_f%] = [%$order_moneytype%][%$discount_productmoney_f%]</td>
											</tr>
										</table>
									</td>
								</tr>
							</table>
						</td>
					</tr>
					[%if $read.ordertype!=6%]
					<tr class="trstyle2">
						<td class="trtitle03" colspan="2">[%$ST.ordermain_view_paysubit%]</td>
					</tr>
					<tr class="trstyle2" id="modebottonlist">
						<td class="trtitle01">[%$ST.ordermain_view_paysubit1%]</td>
						<td class="trtitle02">
							<table border="0" style="border-collapse:collapse" bordercolor="#FFFFFF">
								<tr>
									[%if @this->powercheck('order','payreceiptadd')==true %]
									[%if $read.ordertype<7 %]
										[%if $read.paytime<=0 %]
											<td id="paybotton"><a class="setedit3" id="payadd" onclick="javascript:parent.onbotton('[%$ST.ordermain_view_paysubit_b01%]','index.php?archive=payreceipt&action=payreceiptadd&oid=[%$read.oid%]&type=1&freshid='+Math.random()+'&iframename='+self.frameElement.getAttribute('name'),true,'#payadd');" href="#body" title="[%$ST.ordermain_view_paysubit_b01%]" hidefocus="true">[%$ST.ordermain_view_paysubit_b01%]</a></td>
										[%else%]
											<td id="paybotton"><a class="setedit3" id="payadd" onclick="javascript:parent.onbotton('[%$ST.ordermain_view_paysubit_b02%]','index.php?archive=payreceipt&action=payreceiptadd&oid=[%$read.oid%]&type=2&freshid='+Math.random()+'&iframename='+self.frameElement.getAttribute('name'),true,'#payadd');" href="#body" title="[%$ST.ordermain_view_paysubit_b02%]" hidefocus="true">[%$ST.ordermain_view_paysubit_b02%]</a></td>
										[%/if%]
									[%/if%]
									[%/if%]
									[%if @this->powercheck('order','shipreceiptadd')==true %]
									[%if $read.shippingtime<=0 && $read.ordertype<7%]
										<td class="padding-left3" id="shipbotton"><a class="setedit3" id="shipadd" onclick="javascript:parent.onbotton('[%$ST.ordermain_view_paysubit_b03%]','index.php?archive=shipreceipt&action=shipreceiptadd&oid=[%$read.oid%]&type=1&freshid='+Math.random()+'&iframename='+self.frameElement.getAttribute('name'),true,'#shipadd');" href="#body" title="[%$ST.ordermain_view_paysubit_b03%]" hidefocus="true">[%$ST.ordermain_view_paysubit_b03%]</a></td>
									[%else%]
										[%if $read.ordertype!=8 && $read.shippingtime>0%]
											<td class="padding-left3" id="shipbotton"><a class="setedit3" id="shipadd" onclick="javascript:parent.onbotton('[%$ST.ordermain_view_paysubit_b04%]','index.php?archive=shipreceipt&action=shipreceiptadd&oid=[%$read.oid%]&type=2&freshid='+Math.random()+'&iframename='+self.frameElement.getAttribute('name'),true,'#shipadd');" href="#body" title="[%$ST.ordermain_view_paysubit_b04%]" hidefocus="true">[%$ST.ordermain_view_paysubit_b04%]</a></td>
										[%/if%]
									[%/if%]
									[%/if%]
									[%if $read.ordertype==4 %]
										<td class="padding-left3" id="typebotton5"><a class="setedit3" onclick="javascript:onordertype('[%$read.oid%]','5');" href="#body" title="[%$ST.ordermain_view_paysubit_b05%]" hidefocus="true">[%$ST.ordermain_view_paysubit_b05%]</a></td>
									[%/if%]
									[%if $read.ordertype==1 %]
										<td class="padding-left3" id="typebotton6"><a class="setedit3" onclick="javascript:onordertype('[%$read.oid%]','6');" href="#body" title="[%$ST.ordermain_view_paysubit_b06%]" hidefocus="true">[%$ST.ordermain_view_paysubit_b06%]</a></td>
									[%/if%]
								</tr>
							</table>
						</td>
					</tr>
					<tr class="trstyle2">
						<td class="trtitle01">[%$ST.ordermain_view_paysubit2%]</td>
						<td class="trtitle02">
							<table border="0" style="border-collapse:collapse" bordercolor="#FFFFFF">
								<tr>
									<td><a class="setedit3" target="_blank" href="index.php?archive=ordermain&action=printorder&oid=[%$read.oid%]&class=1" title="[%$ST.ordermain_view_paysubit_b07%]" hidefocus="true">[%$ST.ordermain_view_paysubit_b07%]</a></td>
									<td class="padding-left3"><a class="setedit3" target="_blank" href="index.php?archive=ordermain&action=printorder&oid=[%$read.oid%]&class=2" title="[%$ST.ordermain_view_paysubit_b08%]" hidefocus="true">[%$ST.ordermain_view_paysubit_b08%]</a></td>
									<td class="padding-left3"><a class="setedit3" href="javascript:parent.windowsdig('[%$ST.ordermain_view_paysubit_b09%]','iframe:index.php?archive=ordermain&action=shipprintselect&oid=[%$read.oid%]&iframename='+self.frameElement.getAttribute('name'),'580px','280px','iframe',true);" title="[%$ST.ordermain_view_paysubit_b09%]" hidefocus="true">[%$ST.ordermain_view_paysubit_b09%]</a></td>
								</tr>
							</table>
						</td>
					</tr>
					[%/if%]
					<tr class="trstyle2">
						<td class="trtitle03" colspan="2">[%$ST.ordermain_view_priceinfo%]</td>
					</tr>
					<tr class="trstyle2">
						<td class="trtitle01">[%$ST.ordermain_infolist_text_spamount%]</td>
						<td class="trtitle02">[%$order_moneytype%][%$read.productmoney%]</td>
					</tr>
					<tr class="trstyle2">
						<td class="trtitle01">[%$ST.ordermain_edit_shippingmoney%]</td>
						<td class="trtitle02">[%$order_moneytype%][%$read.shippingmoney%]</td>
					</tr>
					<tr class="trstyle2">
						<td class="trtitle01">[%$ST.ordermain_edit_paymoney%]</td>
						<td class="trtitle02">[%$order_moneytype%][%$read.paymoney%]</td>
					</tr>
					<tr class="trstyle2">
						<td class="trtitle01">[%$ST.ordermain_edit_discount%]</td>
						<td class="trtitle02">[%$dis%]%</td>
					</tr>
					<tr class="trstyle2">
						<td class="trtitle01">[%$ST.ordermain_edit_orderamount%]</td>
						<td class="trtitle02">[%$ST.ordermain_infolist_text_spamount%][%$order_moneytype%][%$read.productmoney%] - [%$ST.ordermain_infolist_text_zkamount%][%$order_moneytype%][%$read.discount%] + [%$ST.ordermain_edit_shippingmoney%][%$order_moneytype%][%$read.shippingmoney%] + [%$ST.ordermain_edit_paymoney%][%$order_moneytype%][%$read.paymoney%] = [%$order_moneytype%][%$read.orderamount%]</td>
					</tr>
					[%if $read.paytime<=0%]
					<tr class="trstyle2">
						<td class="trtitle01">[%$ST.ordermain_view_paybotton%]</td>
						<td class="trtitle02">[%$orderonline%]</td>
					</tr>
					[%else%]
					<tr class="trstyle2">
						<td class="trtitle01">[%$ST.ordermain_text_read_paysn%]</td>
						<td class="trtitle02">[%$read.paysn%]</td>
					</tr>
					[%/if%]
					<tr class="trstyle2">
						<td class="trtitle03" colspan="2">[%$ST.ordermain_add_countinfo%]</td>
					</tr>
					[%if $member.username%]
					<tr class="trstyle2">
						<td class="trtitle01">[%$ST.enquirymain_add_userid%]</td>
						<td class="trtitle02">[%$member.username%] [%if @this->powercheck('member','memberedit')==true %]<a class="tabclicklink" onclick="javascript:parent.onbotton('[%$ST.viewmember_botton%]','index.php?archive=membermain&action=memberedit&userid=[%$member.userid%]&isclose=1&type=edit&freshid='+Math.random()+'&iframename='+self.frameElement.getAttribute('name'),true,'memberedit[%$member.userid%]',self.frameElement.getAttribute('name'));" id="memberedit[%$member.userid%]" href="#body" title="[%$member.username%]" hidefocus="true">[%$ST.viewmember_botton%]</a> [%/if%]</td>
					</tr>
					<tr class="trstyle2">
						<td class="trtitle01">[%$ST.enquirymain_add_userid2%]</td>
						<td class="trtitle02">[%$member.userid%]</td>
					</tr>
					[%/if%]
					<tr class="trstyle2">
						<td class="trtitle01">[%$ST.ordermain_add_alias%]</td>
						<td class="trtitle02">[%$read.consignee%]</td>
					</tr>
					<tr class="trstyle2">
						<td class="trtitle01">[%$ST.ordermain_add_tel%]</td>
						<td class="trtitle02">[%$read.tel%]</td>
					</tr>
					<tr class="trstyle2">
						<td class="trtitle01">[%$ST.ordermain_add_motel%]</td>
						<td class="trtitle02">[%$read.mobile%]</td>
					</tr>
					<tr class="trstyle2">
						<td class="trtitle01">[%$ST.ordermain_add_email%]</td>
						<td class="trtitle02">[%$read.email%]</td>
					</tr>
					<tr class="trstyle2" id="select4">
						<td class="trtitle01">[%$ST.ordermain_add_country%]</td>
						<td class="trtitle02">
							<select size="1" name="cityone" class="select" id="cityone" disabled>
								<option [%if $read.country==0%]selected [%/if%]value="0">[%$ST.ordermain_add_country_option%]</option>
								<option [%if $read.country==1%]selected [%/if%]value="1">[%$ST.ordermain_add_country_value%]</option>
							</select>
							<select size="1" name="citytwo" class="select" id="citytwo" disabled>
								<option value="0">[%$ST.ordermain_add_province_option%]</option>
							</select>
							<select size="1" name="citythree" class="select" id="citythree" disabled>
								<option value="0">[%$ST.ordermain_add_city_option%]</option>
							</select>
							<select size="1" name="district" class="select" id="district" disabled>
								<option value="0">[%$ST.ordermain_add_district_option%]</option>
							</select>
							<span id="cityloading">Loading…</span>
						</td>
					</tr>
					<tr class="trstyle2">
						<td class="trtitle01">[%$ST.ordermain_add_address%]</td>
						<td class="trtitle02">[%$read.address%]</td>
					</tr>
					<tr class="trstyle2" id="select6">
						<td class="trtitle01">[%$ST.ordermain_add_zipcode%]</td>
						<td class="trtitle02">[%$read.zipcode%]</td>
					</tr>
					<tr class="trstyle2">
						<td class="trtitle01">[%$ST.ordermain_add_sendtime%]</td>
						<td class="trtitle02">
							<select size="1" name="sendtime" class="select" disabled>
								<option value="1"[%if $read.sendtime==1%] selected[%/if%]>[%$ST.ordermain_add_sendtime1%]</option>
								<option value="2"[%if $read.sendtime==2%] selected[%/if%]>[%$ST.ordermain_add_sendtime2%]</option>
								<option value="3"[%if $read.sendtime==3%] selected[%/if%]>[%$ST.ordermain_add_sendtime3%]</option>
								<option value="4"[%if $read.sendtime==4%] selected[%/if%]>[%$ST.ordermain_add_sendtime4%]</option>
							</select>
						</td>
					</tr>
					<tr class="trstyle2">
						<td class="trtitle01">[%$ST.ordermain_add_content%]</td>
						<td class="trtitle02">[%$read.content%]</td>
					</tr>
					<tr class="trstyle2">
						<td class="trtitle01">[%$ST.ordermain_add_invpayee%]</td>
						<td class="trtitle02">[%$read.invpayee%]</td>
					</tr>
					<tr class="trstyle2">
						<td class="trtitle01">[%$ST.ordermain_add_invcontent%]</td>
						<td class="trtitle02">[%$read.invcontent%]</td>
					</tr>
					<tr class="trstyle2">
						<td class="trtitle03" colspan="2">[%$ST.ordermain_add_payshipinfo%]</td>
					</tr>
					<tr class="trstyle2">
						<td class="trtitle01">[%$ST.ordermain_add_shiptype%]</td>
						<td class="trtitle02">[%$shipList.title%] &nbsp;&nbsp;&nbsp;&nbsp;[%$ST.ordermain_add_shiptype_price%]<u>[%$order_moneytype%][%$shipList.price%]</u>  &nbsp;&nbsp;&nbsp;&nbsp;[%if $read.shippingsn!=''%][%$ST.ordermain_text_read_shipsn%]<u>[%$read.shippingsn%]</u>[%/if%]</td>
					</tr>
					<tr class="trstyle2">
						<td class="trtitle01">[%$ST.ordermain_add_paytype%]</td>
						<td class="trtitle02">[%$payList.payname%] &nbsp;&nbsp;&nbsp;&nbsp;[%$ST.ordermain_add_paytype_price%]<u>[%$payList.payis%]</u>% &nbsp;&nbsp;&nbsp;&nbsp;[%if $read.paysn!=''%][%$ST.ordermain_text_read_paysn%]<u>[%$read.paysn%]</u>[%/if%]</td>
					</tr>
				</table>
			</div>
		</div>
	</div>
</div>
<div id="downbotton">
	<div id="subbotton">
		<table border="0" width="100%">
			<tr id="bottonsubmit">
				<td align="center">
					<input type="button" name="cancel" onClick="javascript:parent.onaletdoc();" value="[%$ST.botton_view_reset%]" class="buttonface" />
				</td>
			</tr>
		</table>
	</div>
</div>
</body>

</html>