<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">

<head>
<meta content="text/html; charset=utf-8" http-equiv="Content-Type" />
<title>{%$type.typename%} - {%$lngpack.sitename%}</title>
<meta name="keywords" content="{%$lngpack.keyword%}" />
<meta name="description" content="{%$lngpack.description%}" />
<link href="{%$rootpath%}style/tempates_div.css" rel="stylesheet" type="text/css" />
<link href="{%$rootpath%}style/public.css" rel="stylesheet" type="text/css" />
<link href="{%$rootpath%}style/pagebotton.css" rel="stylesheet" type="text/css" />
<script type="text/javascript" src="{%$rootdir%}js/jquery.js"></script>
<script type="text/javascript" src="{%$rootdir%}js/basicrun.js"></script>
<script type="text/javascript" src="{%$rootdir%}index.php?ac=public&at=typepuv&tid={%$type.tid%}"></script>
<script type="text/javascript">
$().ready(function() {
	$("#clickmenubotton li span").hover(function() {
		$(this).addClass("bgmenuhove2");
		$(this).parent().find("ul.subnav").slideDown('fast').show(); 
		$(this).parent().hover(function() {}, function(){
			$(this).parent().find("ul.subnav").fadeOut('fast');
			$(this).parent().find("span").removeClass("bgmenuhove2");
		});
	});
});
</script>
</head>

<body>
<div class="head">
	{%link file="en/public/head.html"%}
	<!--bann-->
	{%if $type.typepic!=''%}
	<div class="bann">
		<div class="bann">
			<img title="tel" src="{%$rootdir%}{%$type.typepic%}"/>
		</div>
	</div>
	{%/if%}
	
	<div class="bann">
		<div class="location">{%list name=path class=type:type,id:$type.tid%}</div>
	</div>
	
	<div class="framecenter margintop10">
		<div class="frameright ">
			<div class="fup3"><span class="spantitle">{%$type.typename%}</span></div>
			<div class="fcontent3">
				{%get name=typelist class=tid:$type.tid,utid:$type.topid%}
				<ul class="three">
					{%forlist from=$array key=i%}
						{%if $array[i].level==1%}
						<li class="b"><a class="typelink" title="{%$array[i].typename%}" href="{%$array[i].link%}">{%$array[i].typename%}</a></li>
						{%else%}
						<li class="a"><a title="{%$array[i].typename%}" href="{%$array[i].link%}">{%$array[i].typename%}</a></li>
						{%/if%}
					{%/forlist%}
				</ul>
				{%/get%}
			</div>
			<div class="fdown3"></div>
			
			{%link file="en/public/left.html"%}
		</div>
		
		<div class="frameleft margintleft10">
			{%if count($array) > 0%}
			<div class="pagelist center">
				<ul class="joblist">
					{%forlist from=$array key=i%}
					<li>
						<table width="100%" class="formlist3">
							<tr>
								<td class="line right">Download Name：</td>
								<td class="left strong colorgreen"><span style="float: right;"><a target="_blank" href="{%$array[i].downloadurl%}" title="{%$array[i].title%}" class="infolist_orning">Download</a></span>{%$array[i].ctitle%}</td>
							</tr>
							<tr>
								<td class="line right">Time：</td>
								<td class="left">{%$array[i].addtime|timeformat(2)%}</td>
							</tr>
							<tr>
								<td class="line right" valign="top">Download Overview：</td>
								<td class="left lineheight200">{%$array[i].summary%}</td>
							</tr>
						</table>
					</li>
					{%/forlist%}
				</ul>
			</div>
			<div class="pagelist center margintop8">
				<div id="pagelist">
					{%$pagetext%}
				</div>
			</div>
			<div class="pagelist center margintop8">
				<div id="Pagination" class="pagination">
					{%$pagebotton%}
				</div>
			</div>
			{%else%}
			<div class="pagelist center margintop8">
				<div id="pagelist">Did not match any infomation</div>
			</div>
			{%/if%}
		</div>
	</div>
	
	{%link file="en/public/link.html"%}
</div>
{%link file="en/public/footer.html"%}	
</body>

</html>