<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">

<head>
<meta content="text/html; charset=utf-8" http-equiv="Content-Type" />
<title>[%$softtitle%]</title>
<link href="templates/css/baselist.css" rel="stylesheet" type="text/css" />
<link href="templates/css/all.css" rel="stylesheet" type="text/css" />
<link href="templates/css/formdiv.css" rel="stylesheet" type="text/css"/>
<script type="text/javascript" src="js/jquery.js"></script>
<script type="text/javascript" src="js/control.js"></script>
<script type="text/javascript" src="js/form.js"></script>
<script type="text/javascript">

	var resizewindow= null;

	window.onresize = function(){
		var h = $(window).height();
		if(resizewindow!=h){
			sizewindow();
			resizewindow=h;
		}
	}

	function sizewindow(){
		var h = $(window).height();
		if(document.getElementById("mainbodybottonauto")){
			$('.managebottonadd').css({height:h-40});
			$('#content').css({height:h-160});
		}
	}
	var templatemain_js_content_empty  = "[%$ST.templatemain_js_content_empty%]";
	var templatemain_js_edit_ok = "[%$ST.templatemain_js_edit_ok%]";
	var templatemain_js_edit_no = "[%$ST.templatemain_js_edit_no%]";
	var iframename = "[%$iframename%]";
	$(document).ready(function(){
		var h = '[%$iframeheightwindow%]';
		$('.managebottonadd').css({height:h-40});
		$('#content').css({height:h-160});
		
		var options = {
			beforeSubmit: formverify,
			success:saveResponse
		}
		$('#templateedit').submit(function() {
			$(this).ajaxSubmit(options);
			return false;
		});
	})




	function formverify(formData) {
		var queryString = $.param(formData);
		var get=urlarray(queryString);
		if(get['content']==''){
			document.templateedit.content.focus();
			alert(templatemain_js_content_empty);
			return false;
		}
		parent.windowsdig('Loading','iframe:index.php?archive=management&action=load','400px','180px','iframe',false);
	}
	function saveResponse(options){
		parent.closeifram();
		if (options=='true'){
			parent.frames[iframename].refresh('selectform','selectall','check_all');
			alert(templatemain_js_edit_ok);
		}else{
			alert(templatemain_js_edit_no);
		}
		parent.onaletdoc()
	}
</script>
</head>

<body>
<form name="templateedit" id="templateedit" method="post" action="index.php?archive=templatemain&action=save">
<input type="hidden" name="inputclass" value="edit">
<input type="hidden" name="dir" value="[%$dir%]">
<input type="hidden" name="filename" value="[%$filename%]">
<div id="mainbodybottonauto" class="managebottonadd">
	<div class="maindobycontent">
		<div class="suggestion">
			<span class="sugicon"><span class="strong colorgorning2">[%$ST.position_title%]</span><span class="colorgorningage">[%$ST.templatemain_edit_mess%] [%$dir%][%$filename%]</span></span>
		</div>
		<div class="manageeditdiv">
			<div class="maneditcontent">
				<table class="formtable">
					<tr class="trstyle2">
						<td class="trtitle01">[%$ST.templatemain_add_code%]</td>
						<td class="trtitle02">[%$dir%][%$filename%]</td>
					</tr>
					<tr class="trstyle2">
						<td class="trtitle011">[%$ST.templatemain_add_content%]</td>
						<td class="trtitle02"><textarea wrap="off" name="content" id="content" style="width:98%" class="smallInput">[%$content%]</textarea></td>
					</tr>
				</table>
			</div>
		</div>
	</div>
</div>
<div id="downbotton">
	<div id="subbotton">
		<table border="0" width="100%">
			<tr>
				<td id="right"><input type="submit" name="Submit" value="[%$ST.botton_edit%]" class="buttonface" /></td>
				<td id="left" class="padding-left5"><input type="button" name="cancel" onClick="javascript:parent.onaletdoc();" value="[%$ST.botton_edit_reset%]" class="buttonface" /></td>
			</tr>
		</table>
	</div>
</div>
</form>
</body>

</html>