<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">

<head>
<meta content="text/html; charset=utf-8" http-equiv="Content-Type" />
<title>[%$softtitle%]</title>
<link href="templates/css/baselist.css" rel="stylesheet" type="text/css" />
<link href="templates/css/all.css" rel="stylesheet" type="text/css" />
<link href="templates/css/formdiv.css" rel="stylesheet" type="text/css"/>
<script type="text/javascript" src="js/jquery.js"></script>
<script type="text/javascript" src="js/control.js"></script>
<script type="text/javascript" src="js/form.js"></script>
<script type="text/javascript">

	var resizewindow= null;

	window.onresize = function(){
		var h = $(window).height();
		if(resizewindow!=h){
			sizewindow();
			resizewindow=h;
		}
	}

	function sizewindow(){
		var h = $(window).height();
		if(document.getElementById("mainbodybottonauto")){
			$('.managebottonadd').css({height:h-40});
		}
	}
	var mailinvite_send_js_sendmail  = "[%$ST.mailinvite_send_js_sendmail%]";
	var mailinvite_send_js_send_ok = "[%$ST.mailinvite_send_js_send_ok%]";
	var mailinvite_send_js_send_no = "[%$ST.mailinvite_send_js_send_no%]";
	var iframename = "[%$iframename%]";
	iframename = iframename=='' ? "jerichotabiframe_0" : iframename;
	$(document).ready(function(){
		var h = '[%$iframeheightwindow%]';
		$('.managebottonadd').css({height:h-40});
		var options = {
			beforeSubmit: formverify,
			success:saveResponse,
			resetForm: false
		}
		$('#infosave').submit(function() {
			$(this).ajaxSubmit(options);
			return false;
		});
	})




	function formverify(formData) {
		var queryString = $.param(formData);
		var get=urlarray(queryString);
		if((get['mlvid']==0 && get['sendmail']=='') || (get['mlvid']!=0 && get['sendmail']=='') && (get['mlvid']==0 && get['sendmail']!='')){
			document.infosave.mlvid.focus();
			alert(mailinvite_send_js_sendmail);
			return false;
		}
		parent.windowsdig('Loading','iframe:index.php?archive=management&action=load','400px','180px','iframe',false);
	}
	function saveResponse(options){
		parent.closeifram();
		if (options=='true'){
			parent.frames[iframename].refresh('selectform','selectall','check_all');
			alert(mailinvite_send_js_send_ok);
		}else{
			alert(mailinvite_send_js_send_no+"("+options+")");
		}
		parent.onaletdoc()
	}
</script>
</head>

<body>
<form name="infosave" id="infosave" method="post" action="index.php?archive=mailsendmain&action=mailgroupsendsave">
<input type="hidden" name="lng" id="lng" value="[%$lng%]">
<input type="hidden" name="msid" value="[%$read.msid%]">
<div id="mainbodybottonauto" class="managebottonadd">
	<div class="maindobycontent">
		<div class="suggestion">
			<span class="sugicon"><span class="strong colorgorning2">[%$ST.position_title%]</span><span class="colorgorningage">[%$ST.mailinvite_send_edit_mess2%]</span></span>
		</div>
		<div class="manageeditdiv">
			<div class="maneditcontent">
				<table class="formtable">
					<tr class="trstyle2">
						<td class="trtitle01">[%$ST.mailinvite_send_add_title%]</td>
						<td class="trtitle02">[%$read.title%]</td>
					</tr>
					<tr class="trstyle2">
						<td class="trtitle03" colspan="2">[%$ST.mailinvite_send_add_maillist_link%]</td>
					</tr>
					<tr class="trstyle2">
						<td class="trtitle01">[%$ST.mailinvite_send_add_maillist%]</td>
						<td class="trtitle02">
							<select size="1" name="mlvid" id="mlvid">
								<option value="0">[%$ST.mailinvite_send_add_maillist%]</option>
								[%forlist from=$typelist key=list%]
								<option [%$typelist[list].selected%] value="[%$typelist[list].mlvid%]">[%$typelist[list].title%]</option>
								[%/forlist%]
							</select>
						</td>
					</tr>
					<tr class="trstyle2">
						<td class="trtitle01">[%$ST.mailinvite_send_add_maillist1%]</td>
						<td class="trtitle02"><textarea name="sendmail" id="sendmail" style="width:98%;height:200px;" class="smallInput"></textarea></td>
					</tr>
					<tr class="trstyle2">
						<td class="trtitle01"></td>
						<td class="trtitle02"><span class="cautiontitle">[%$ST.mailinvite_send_add_maillist_mess%]</span></td>
					</tr>
				</table>
			</div>
		</div>
	</div>
</div>
<div id="downbotton">
	<div id="subbotton">
		<table border="0" width="100%">
			<tr>
				<td id="right"><input type="submit" id="submitbotton" name="Submit" value="[%$ST.botton_send%]" class="buttonface" /></td>
				<td id="left" class="padding-left5"><input type="button" name="cancel" onClick="javascript:closewindow();" value="[%$ST.botton_send_reset%]" class="buttonface" /></td>
			</tr>
		</table>
	</div>
</div>
</form>
</body>

</html>