<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">

<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>[%$softtitle%]</title>
<link href="templates/css/baselist.css" rel="stylesheet" type="text/css" />
<link href="templates/css/all.css" rel="stylesheet" type="text/css" />
<link href="templates/css/formdiv.css" rel="stylesheet" type="text/css"/>
<script type="text/javascript" src="js/jquery.js"></script>
<script type="text/javascript" src="js/swfupload.js"></script>
<script type="text/javascript" src="js/swfuploaddb.js"></script>
<script type="text/javascript" src="js/batupfile.js"></script>
<script type="text/javascript" language="JavaScript">
	var filemanage_js_upfile_zoomsize  = "[%$ST.filemanage_js_upfile_zoomsize%]";
	var filemanage_js_upfile_driname_err  = "[%$ST.filemanage_js_upfile_driname_err%]";
	var filemanage_js_upfile_ok = "[%$ST.filemanage_js_upfile_ok%]";
	var filemanage_js_upfile_no = "[%$ST.filemanage_js_upfile_no%]";
	var fheight="[%$fheight%]";
	$(window).load(function(){
		var h = parseInt(fheight);
		$('#mainwindowhidden').css({height:h-39});
	});
	$(function(){
		$('#swfupload-control').each(function(){
			$(this).swfupload({

				upload_url: "index.php?archive=filemanage&action=batupfilesave&path=[%$path%]&filetype=[%$filetype%]&ecisp_admininfo=[%$ecisp_admininfo%]&esp_powerlist=[%$esp_powerlist%]",

				file_size_limit : "[%$maxfile%]",

				file_types : "[%$upfile_pictype%]",

				file_types_description : "All Files",

				file_upload_limit : "[%$maxselect%]",

				flash_url : "js/swfupload.swf",

				button_image_url : 'js/upfilebotton.png',
				button_width : 116,
				button_height : 27,
				button_placeholder : $('.button', this)[0],
				debug: false
			});
		});
	});
	function saveResponse(options){
		if (options=='true'){
			alert(filemanage_js_upfile_ok);
		}else{
			alert(options);
		}
	}
	document.oncontextmenu=new Function('event.returnValue=false;');
	document.onselectstart=new Function('event.returnValue=false;');
</script>
<!--[if IE 6]>
<style type="text/css" media="screen">
body { behavior:url("templates/css/csshover.htc");}
</style>
<![endif]-->
</head>

<body class="bodyflow">
<input type="hidden" name="maxupfile" value="[%$maxselect%]"/>
<div class="centerrightwindow" id="swfupload-control">
	<div id="mainwindowhidden">
		<div class="suggestion">
			<span class="sugicon"><span class="strong colorgorning2">[%$ST.position_title%]</span><span class="padding-left5 colorgorningage">[%$ST.filemanage_file_upfile_type_mess%][%$upfile_pictype_str%]，[%$ST.filemanage_file_upfile_dirname_mess%][%$maxfile2%]，[%$ST.filemanage_file_upfile_maxfile_mess%][%$maxselect%] 个</span></span>
		</div>
		<div class="sugtitle-line"></div>
		<div class="listitle">
			<table border="0" width="100%" bordercolor="#FFFFFF">
				<tr>
					<td width="70%">文件名</td>
					<td width="20%">上传状态</td>
					<td width="10%">[%$ST.mangerlist_text_set%]</td>
				</tr>
			</table>
		</div>
		<div class="loadingdiv" id="log"></div>
	</div>
	<div id="downbotton">
		<div id="subbotton">
			<table border="0" width="100%">
				<tr id="bottonsubmit">
					<td id="center">
						<table border="0" style="margin: 0 auto;">
							<tr>
								<td><input type="button" class="button" /></td>
								<td style="padding:0px 5px 0px 5px;"><input type="submit" name="Submit" id="submitbotton" value="[%$ST.botton_upfile%]" class="buttonface" title="[%$ST.botton_upfile%]"/></td>
								<td><input type="reset" name="reset" onClick="javascript:parent.resetwindow();" id="release" value="[%$ST.botton_upfile_reset%]" class="buttonface"  title="[%$ST.botton_upfile_reset%]" /></td>
							</tr>
						</table>
					</td>
				</tr>
			</table>
		</div>
	</div>
</div>
</body>
</html>