[%if count($array) > 0%]
[%forlist from=$array key=list%]
<div class="infolist" onselectstart="return false;" title="[%$array[list].typename%]-[%$array[list].typeremark%]" [%if @this->powercheck('article','modelattredit')==true %]ondblClick="javascript:parent.onbotton('[%$array[list].typename%][%$ST.modelmanage_attr_edit%]','index.php?archive=modelmanage&action=modelattredit&aid=[%$array[list].aid%]&mid=[%$mid%]&freshid='+Math.random()+'&iframename='+self.frameElement.getAttribute('name'),false,'attedit[%$array[list].aid%]',self.frameElement.getAttribute('name'));"[%/if%]>
	<table border="0" style="border-collapse:collapse" width="100%" bordercolor="#FFFFFF">
		<tr>
			<td width="5%">
				[%if $array[list].islockin==1%]
				<input type="checkbox" name="selectinfoid" value="[%$array[list].aid%]">
				[%/if%]
			</td>
			<td width="6%">
				<input type="hidden" name="infoid" id="infoid" value="[%$array[list].aid%]">
				<input type="text" name="pid" size="3" value="[%$array[list].pid%]" class="infoInput" >
			</td>
			<td width="6%">[%$array[list].aid%]</td>
			<td width="18%">[%$array[list].typename%]</td>
			<td width="17%">[%$array[list].attrname%]</td>
			<td width="12%">[%$array[list].inputtype%]</td>
			<td width="7%" id="infotype">
				<table>
					<tr>
						<td>[%if $array[list].issearch==1%]<span class="select_ok" title="[%$ST.open_botton_title%]"></span>[%else%]<span class="select_no" title="[%$ST.close_botton_title%]"></span>[%/if%]</td>
					</tr>
				</table>
			</td>
			<td width="7%" id="infotype">
				<table>
					<tr>
						<td>[%if $array[list].isvalidate==1%]<span class="select_ok" title="[%$ST.open_botton_title%]"></span>[%else%]<span class="select_no" title="[%$ST.close_botton_title%]"></span>[%/if%]</td>
					</tr>
				</table>
			</td>
			<td width="7%" id="infotype">
				<table>
					<tr>
						<td>[%if $array[list].islockin==0%]<span class="select_ok" title="[%$ST.open_botton_title%]"></span>[%else%]<span class="select_no" title="[%$ST.close_botton_title%]"></span>[%/if%]</td>
					</tr>
				</table>
			</td>
			<td width="7%" id="infotype">
				<table>
					<tr>
						<td>[%if $array[list].isclass==1%]<span class="audit_ok" title="[%$ST.open_botton_title%]"></span>[%else%]<span class="audit_no" title="[%$ST.close_botton_title%]"></span>[%/if%]</td>
					</tr>
				</table>
			</td>
			<td width="10%" id="infotype">
				[%if @this->powercheck('article','modelattredit')==true %]
				<table>
					<tr>
						<td><a class="setedit" onclick="javascript:parent.onbotton('[%$array[list].typename%][%$ST.modelmanage_attr_edit%]','index.php?archive=modelmanage&action=modelattredit&aid=[%$array[list].aid%]&mid=[%$mid%]&freshid='+Math.random()+'&iframename='+self.frameElement.getAttribute('name'),false,'attedit[%$array[list].aid%]',self.frameElement.getAttribute('name'));" id="attedit[%$array[list].aid%]" href="#body" title="[%$ST.modelmanage_attr_edit%]" hidefocus="true">[%$ST.setedit_botton%]</a></td>
					</tr>
				</table>
				[%/if%]
			</td>
		</tr>
	</table>
</div>
[%/forlist%]
[%else%]
<div class="infolist">
	<table border="0" style="border-collapse:collapse" width="100%" bordercolor="#FFFFFF">
		<tr>
			<td align="center">[%$ST.list_nothing_title%]</td>
		</tr>
	</table>
</div>
[%/if%]