<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">

<head>
<meta content="text/html; charset=utf-8" http-equiv="Content-Type" />
<title>[%$softtitle%]</title>
<link href="templates/css/baselist.css" rel="stylesheet" type="text/css" />
<link href="templates/css/all.css" rel="stylesheet" type="text/css" />
<link href="templates/css/formdiv.css" rel="stylesheet" type="text/css"/>
<script type="text/javascript" src="js/jquery.js"></script>
<script type="text/javascript" src="js/control.js"></script>
<script type="text/javascript" src="js/form.js"></script>
<script type="text/javascript">

	var resizewindow= null;

	window.onresize = function(){
		var h = $(window).height();
		if(resizewindow!=h){
			sizewindow();
			resizewindow=h;
		}
	}

	function sizewindow(){
		var h = $(window).height();
		if(document.getElementById("mainbodybottonauto")){
			$('.managebottonadd').css({height:h-40});
		}
	}
	var subjectmanage_type_add_mid  = "[%$ST.subjectmanage_type_add_mid%]";
	var typemanage_type_add_upid  = "[%$ST.typemanage_type_add_upid%]";
	var typemanage_js_noselect_empty  = "[%$ST.typemanage_js_noselect_empty%]";
	var typemanage_js_typename_empty  = "[%$ST.typemanage_js_typename_empty%]";
	var typemanage_js_dirname_empty  = "[%$ST.typemanage_js_dirname_empty%]";
	var typemanage_js_template_empty  = "[%$ST.typemanage_js_template_empty%]";
	var typemanage_js_typeurl_empty  = "[%$ST.typemanage_js_typeurl_empty%]";
	var typemanage_js_type_add_ok = "[%$ST.typemanage_js_type_add_ok%]";
	var typemanage_js_type_add_no = "[%$ST.typemanage_js_type_add_no%]";
	var subjectmanage_js_pagemax_empty  = "[%$ST.subjectmanage_js_pagemax_empty%]";
	var iframename = "[%$iframename%]";
	iframename = iframename=='' ? "jerichotabiframe_0" : iframename;
	$(document).ready(function(){
		var h = '[%$iframeheightwindow%]';
		$('.managebottonadd').css({height:h-40});
		var options = {
			beforeSubmit: formverify,
			success:saveResponse,
			resetForm: true
		}
		$('#typeadd').submit(function() {
			$(this).ajaxSubmit(options);
			return false;
		});
		parent.scrolclear();
	})




	function formverify(formData) {
		var queryString = $.param(formData);
		var get=urlarray(queryString);
		if(get['mid']==0){
			document.typeadd.mid.focus();
			alert(subjectmanage_type_add_mid+typemanage_js_noselect_empty);
			return false;
		}
		if(get['typename']==''){
			document.typeadd.typename.focus();
			alert(typemanage_js_typename_empty);
			return false;
		}
		if(get['isdirname']==0) {
			if(get['dirname'].match(/^[\w-]+$/ig)==null) {
				document.typeadd.dirname.focus();
				alert(typemanage_js_dirname_empty);
				return false;
			}
		}
		if(get['styleid']==1 || get['styleid']==2){
			if(get['indextemplates'].match(/^[\w]+$/ig)==null || get['template'].match(/^[\w]+$/ig)==null || get['readtemplate'].match(/^[\w]+$/ig)==null ) {
				document.typeadd.template.focus();
				alert(typemanage_js_template_empty);
				return false;
			}
		}else if(get['styleid']==3){
			if(get['typeurl'].match(/^http:\/\/[a-zA-Z.0-9-%&?=/_]+$/ig)==null) {
				document.typeadd.typeurl.focus();
				alert(typemanage_js_typeurl_empty);
				return false;
			}
		}
		if(get['pagemax']!='') {
			if(get['pagemax'].match(/^[0-9]+$/ig)==null) {
				document.typeadd.pagemax.focus();
				alert(subjectmanage_js_pagemax_empty);
				return false;
			}
		}
		parent.windowsdig('Loading','iframe:index.php?archive=management&action=load','400px','180px','iframe',false);
	}
	function saveResponse(options){
		parent.closeifram();
		var tab=document.getElementById("typeaddtab").value;
		if (options=='true'){
			if (tab=='true'){
				if(parent.frames[iframename].document.getElementById("selectform")){
					parent.frames[iframename].refresh('selectform','selectall','check_all');
				}
			}
			alert(typemanage_js_type_add_ok);
		}else{
			alert(typemanage_js_type_add_no+"("+options+")");
		}
		if (tab=='true'){
			parent.scrolopen();
			parent.onaletdoc()
		}
	}
	
	function sumbiton(){
		$('#typeaddsubmitbotton').attr('disabled','');
	}
</script>
</head>

<body>
<form name="typeadd" id="typeadd" method="post" action="index.php?archive=typemanage&action=typesave">
<input type="hidden" name="inputclass" value="add">
<input type="hidden" name="tab" id="typeaddtab" value="[%$tab%]">
<input type="hidden" name="upid" id="upid" value="[%$upid%]">
<input type="hidden" name="topid" id="topid" value="[%$topid%]">
<input type="hidden" name="lng" id="lngtype" value="[%$lng%]">
[%if $styleid>2%]<input type="hidden" name="styleid" id="styleid" value="[%$styleid%]">[%/if%]
<div id="mainbodybottonauto" class="managebottonadd">
	<div class="maindobycontent">
		<div class="suggestion">
			<span class="sugicon"><span class="strong colorgorning2">[%$ST.position_title%]</span><span class="colorgorningage">[%$ST.typemanage_type_add_mess%]</span></span>
		</div>
		<div class="manageeditdiv">
			<div class="maneditcontent">
				<table class="formtable">
					[%if $upid%]
					<tr class="trstyle2">
						<td width="15%" class="trtitle01">[%$ST.typemanage_type_add_upid%]</td>
						<td width="85%" class="trtitle02">[%$typread.typename%]</td>
					</tr>
					[%/if%]
					<tr class="trstyle2">
						<td width="15%" class="trtitle011">[%$ST.subjectmanage_type_add_mid%]</td>
						<td width="85%" class="trtitle02">
							<select size="1" name="mid" id="mid">
								<option value="0">[%$ST.subjectmanage_type_add_mid_option%]</option>
								[%forlist from=$modelarray key=list%]
								<option [%$modelarray[list].selected%] value="[%$modelarray[list].mid%]">[%$modelarray[list].modelname%]</option>
								[%/forlist%]
							</select>
							<span class="cautiontitle">[%$ST.subjectmanage_type_add_mid_mess%]</span>
						</td>
					</tr>
					<tr class="trstyle2">
						<td width="15%" class="trtitle011">[%$ST.subjectmanage_type_add_subjectname%]</td>
						<td width="85%" class="trtitle02">
							<input type="text" name="typename" size="60" maxlength="100" class="infoInput"/>
							<span class="cautiontitle">[%$ST.subjectmanage_type_add_subjectname_mess%]</span>
						</td>
					</tr>
					<tr class="trstyle2 [%if $styleid!=3%]displaynone[%/if%]">
						<td width="15%" class="trtitle011">[%$ST.typemanage_type_add_url%]</td>
						<td width="85%" class="trtitle02">
							<input type="text" name="typeurl" size="60" maxlength="150" value="http://"class="infoInput"/>
							<span class="cautiontitle">[%$ST.typemanage_type_add_url_mess%]</span>
						</td>
					</tr>
					<tr class="trstyle2 [%if $styleid==3%]displaynone[%/if%]">
						<td width="15%" class="trtitle011">[%$ST.typemanage_type_add_isdirname%]</td>
						<td width="85%" class="trtitle02">
							<input type="radio" value="1" name="isdirname" onclick="ondisplay('isdirnamediv','trstyle2 displaynone');sumbiton();" checked="checked"/> [%$ST.open_botton_title%]&nbsp;
							<input type="radio" value="0" name="isdirname" onclick="ondisplay('isdirnamediv','trstyle2 displaytrue')"/> [%$ST.close_botton_title%]
							<span class="cautiontitle">[%$ST.typemanage_type_add_isdirname_mess%]</span>
						</td>
					</tr>
					<tr class="trstyle2 displaynone" id="isdirnamediv">
						<td width="15%" class="trtitle011">[%$ST.typemanage_type_add_dirname%]</td>
						<td width="85%" class="trtitle02">
							<input type="text" name="dirname" size="20" maxlength="20" class="infoInput" onblur="checktypelngname('dirname',this.value,/^[\w-]+$/ig,'index.php?archive=typemanage&action=checkdirname&upid=[%$upid%]&topid=[%$topid%]','dirnameerr','[%$ST.typemanage_js_type_dirname_check_ok%]','[%$ST.typemanage_js_type_dirname_check_no%]','typeaddsubmitbotton');"/>
							<span class="cautiontitle" id="dirnameerr">[%$ST.typemanage_type_add_dirname_mess%]</span>
						</td>
					</tr>
					<tr class="trstyle2">
						<td width="15%" class="trtitle01">[%$ST.subjectmanage_type_add_subpic%]</td>
						<td width="85%" class="trtitle02">
							<ul class="addpiclist">
								<li><a title="[%$ST.selectfile_botton%]" onclick="javascript:parent.windowsdig('[%$ST.filemanage_select_title%]','iframe:index.php?archive=filemanage&action=filewindow&listfunction=filelist&filetype=img&checkfrom=picshow&getbyid=addsrcpic&fileinputid=typepic&maxselect=1&iframename='+self.frameElement.getAttribute('name'),'900px','480px','iframe')" href="#body"><p><img id="addsrcpic" src="templates/images/pic.png"></p></a></li>
							</ul>
							<input type="hidden" name="typepic" id="typepic" size="50" maxlength="50" class="infoInput"/>
						</td>
					</tr>
					<tr class="trstyle2 [%if $styleid==3%]displaynone[%/if%]">
						<td width="15%" class="trtitle01">[%$ST.subjectmanage_type_add_content%]</td>
						<td width="85%" class="trtitle02"><textarea name="content" cols="50" rows="5" class="smallInput" style="width:98%;height:70px;"></textarea></td>
					</tr>
					<tr class="trstyle2 [%if $styleid==3 || $styleid==4%]displaynone[%/if%]">
						<td class="trtitle03" colspan="2">[%$ST.article_doc_tab_title01%]</td>
					</tr>
					<tr class="trstyle2 [%if $styleid==3 || $styleid==4%]displaynone[%/if%]">
						<td class="trtitle01"></td>
						<td class="trtitle02">
							<a class="keyselect" href="#body" onclick="javascript:parent.windowsdig('[%$ST.selectkeytype_botton%]','iframe:index.php?archive=seomanage&action=listwindow&inputtext=keywords&listfunction=keytype&checkfrom=function&maxselect=1&mid='+document.typeadd.mid.value+'&iframename='+self.frameElement.getAttribute('name'),'850px','450px','iframe');">[%$ST.selectkeytype_botton%]</a>
							<a class="keyselect" href="#body" onclick="javascript:parent.windowsdig('[%$ST.selectkeyword_botton%]','iframe:index.php?archive=seomanage&action=listwindow&inputtext=keywords&listfunction=key&checkfrom=input&mid='+document.typeadd.mid.value+'&iframename='+self.frameElement.getAttribute('name'),'650px','380px','iframe');">[%$ST.selectkeyword_botton%]</a>
						</td>
					</tr>
					<tr class="trstyle2 [%if $styleid==3 || $styleid==4%]displaynone[%/if%]">
						<td class="trtitle01">[%$ST.article_doc_add_keywords%]</td>
						<td class="trtitle02">
							<input type="text" name="keywords" id="keywords" maxlength="100" class="infoInput" style="width:98%;"/>
						</td>
					</tr>
					<tr class="trstyle2 [%if $styleid==3 || $styleid==4%]displaynone[%/if%]">
						<td class="trtitle01">[%$ST.article_doc_add_description%]</td>
						<td class="trtitle02">
							<textarea name="description" id="description"  style="width:98%;height:50px;" class="smallInput"></textarea>
						</td>
					</tr>
					
					<tr class="trstyle2">
						<td class="trtitle03" colspan="2">[%$ST.typemanage_type_add_templatesurl%]</td>
					</tr>
					<tr class="trstyle2 [%if $styleid==3%]displaynone[%/if%]">
						<td width="15%" class="trtitle01">[%$ST.subjectmanage_type_add_purview%]</td>
						<td width="85%" class="trtitle02">
							<select size="1" name="purview" id="purview">
								<option value="0">[%$ST.subjectmanage_type_add_purview_option%]</option>
								[%forlist from=$memberpuvlist key=list%]
								<option value="[%$memberpuvlist[list].mcid%]">[%$memberpuvlist[list].rankname%]</option>
								[%/forlist%]
							</select>
						</td>
					</tr>
					[%if $styleid<3%]
					<tr class="trstyle2">
						<td width="15%" class="trtitle01">[%$ST.typemanage_type_add_pageclass%]</td>
						<td width="85%" class="trtitle02">
							<input type="radio" value="1" name="pageclass" checked="checked" onclick="showdiv(1,'#filenamestylediv|#readnamestylediv','0|1','trstyle2 displaynone|trstyle2 displaytrue',1,1)"/> [%$ST.typemanage_type_add_pageclass_1%]&nbsp;
							<input type="radio" value="0" name="pageclass" onclick="showdiv(0,'#filenamestylediv|#readnamestylediv','0|1','trstyle2 displaynone|trstyle2 displaytrue',1,1)"/> [%$ST.typemanage_type_add_pageclass_0%]
							<span class="cautiontitle">[%$ST.typemanage_type_add_pageclass_mess%]</span>
						</td>
					</tr>
					[%elseif ($styleid==4)%]
					<tr class="trstyle2">
						<td width="15%" class="trtitle01">[%$ST.typemanage_type_add_pageclass%]</td>
						<td width="85%" class="trtitle02">
							<input type="radio" value="1" name="pageclass" checked="checked"/> [%$ST.typemanage_type_add_pageclass_1%]&nbsp;
							<input type="radio" value="0" name="pageclass"/> [%$ST.typemanage_type_add_pageclass_0%]
							<span class="cautiontitle">[%$ST.typemanage_type_add_pageclass_mess%]</span>
						</td>
					</tr>
					[%/if%]
					[%if $styleid<3%]
					<tr class="trstyle2">
						<td width="15%" class="trtitle01">[%$ST.typemanage_type_add_styleid%]</td>
						<td width="85%" class="trtitle02">
							<select size="1" name="styleid" id="styleid">
								<option value="2">[%$ST.typemanage_type_add_styleid_2%]</option>
								<option value="1">[%$ST.typemanage_type_add_styleid_1%]</option>
							</select>
						</td>
					</tr>
					[%/if%]
					<tr class="trstyle2 [%if $styleid==3 || $styleid==4%]displaynone[%/if%]" id="templatediv">
						<td width="15%" class="trtitle01">[%$ST.typemanage_type_add_templateindex%]</td>
						<td width="85%" class="trtitle02">
							<input type="text" name="indextemplates" id="indextemplates" size="20" maxlength="80" value="[%if $typread.indextemplates!=''%][%$typread.indextemplates%][%else%][%$tempname.typeindex%][%/if%]" class="infoInput"/>
							<a class="filecheck" href="#body" onclick="javascript:parent.windowsdig('[%$ST.selecttempfile_botton%]','iframe:index.php?archive=templatemain&action=listwindow&inputtext=indextemplates&typeclass=article&skindir=&filedir=article&fileclass=&freshid='+Math.random()+'&iframename='+self.frameElement.getAttribute('name'),'750px','400px','iframe');">[%$ST.selecttempfile_botton%]</a>
							<span class="cautiontitle">[%$ST.typemanage_type_add_template_mess%]</span>
						</td>
					</tr>
					<tr class="trstyle2 [%if $styleid==3 || $styleid==4%]displaynone[%/if%]" id="templatediv">
						<td width="15%" class="trtitle01">[%$ST.typemanage_type_add_template%]</td>
						<td width="85%" class="trtitle02">
							<input type="text" name="template" id="templatevalue" size="20" maxlength="80" value="[%if $typread.template!=''%][%$typread.template%][%else%][%$tempname.typelist%][%/if%]" class="infoInput"/>
							<a class="filecheck" href="#body" onclick="javascript:parent.windowsdig('[%$ST.selecttempfile_botton%]','iframe:index.php?archive=templatemain&action=listwindow&inputtext=templatevalue&typeclass=article&skindir=&filedir=article&fileclass=&freshid='+Math.random()+'&iframename='+self.frameElement.getAttribute('name'),'750px','400px','iframe');">[%$ST.selecttempfile_botton%]</a>
							<span class="cautiontitle">[%$ST.typemanage_type_add_template_mess%]</span>
						</td>
					</tr>
					<tr class="trstyle2 [%if $styleid==3%]displaynone[%/if%]" id="readtemplatediv">
						<td width="15%" class="trtitle01">[%$ST.typemanage_type_add_readtemplate%]</td>
						<td width="85%" class="trtitle02">
							<input type="text" name="readtemplate" id="readtemplatevalue" size="20" maxlength="80" value="[%if $typread.readtemplate!=''%][%$typread.readtemplate%][%else%][%$tempname.typeread%][%/if%]" class="infoInput"/>
							<a class="filecheck" href="#body" onclick="javascript:parent.windowsdig('[%$ST.selecttempfile_botton%]','iframe:index.php?archive=templatemain&action=listwindow&inputtext=readtemplatevalue&typeclass=article&skindir=&filedir=article&fileclass=&freshid='+Math.random()+'&iframename='+self.frameElement.getAttribute('name'),'750px','400px','iframe');">[%$ST.selecttempfile_botton%]</a>
							<span class="cautiontitle">[%$ST.typemanage_type_add_template_mess%]</span>
						</td>
					</tr>
					<tr class="trstyle2 [%if $styleid==3 || $styleid==4%]displaynone[%/if%]" id="filenamestylediv">
						<td width="15%" class="trtitle01">[%$ST.typemanage_type_add_filenamestyle%]</td>
						<td width="85%" class="trtitle02">
							<select size="1" name="filenamestyle" id="filenamestyle">
								[%forlist from=$filetemplate key=list%]
								<option value="[%$filetemplate[list].id%]">[%$filetemplate[list].name%].[%$ext%]</option>
								[%/forlist%]
							</select>
						</td>
					</tr>
					<tr class="trstyle2 [%if $styleid==3 || $styleid==4%]displaynone[%/if%]" id="readnamestylediv">
						<td width="15%" class="trtitle01">[%$ST.typemanage_type_add_readnamestyle%]</td>
						<td width="85%" class="trtitle02">
							<select size="1" name="readnamestyle" id="readnamestyle">
								[%forlist from=$readtemplate key=list%]
								<option value="[%$readtemplate[list].id%]">[%$readtemplate[list].name%].[%$ext%]</option>
								[%/forlist%]
							</select>
						</td>
					</tr>
					<tr class="trstyle2 [%if $styleid==3 || $styleid==4%]displaynone[%/if%]" id="pagemaxdiv">
						<td width="15%" class="trtitle01">[%$ST.subjectmanage_type_add_pagemax%]</td>
						<td width="85%" class="trtitle02">
							<input type="text" name="pagemax" size="5" maxlength="3" value="0" class="infoInput"/>
							<span class="cautiontitle">[%$ST.subjectmanage_type_add_pagemax_mess%]</span>
						</td>
					</tr>
					<tr class="trstyle2">
						<td width="15%" class="trtitle01">[%$ST.typemanage_type_add_ismenu%]</td>
						<td width="85%" class="trtitle02">
							<input type="radio" value="1" name="ismenu"/> [%$ST.open_botton_title%]&nbsp;
							<input type="radio" value="0" name="ismenu" checked="checked"/> [%$ST.close_botton_title%]
							<span class="cautiontitle">[%$ST.typemanage_type_add_ismenu_mess%]</span>
						</td>
					</tr>
					<tr class="trstyle2">
						<td width="15%" class="trtitle01">[%$ST.typemanage_type_add_isaccessory%]</td>
						<td width="85%" class="trtitle02">
							<input type="radio" value="1" name="isaccessory"/> [%$ST.open_botton_title%]&nbsp;
							<input type="radio" value="0" name="isaccessory" checked="checked"/> [%$ST.close_botton_title%]
							<span class="cautiontitle">[%$ST.typemanage_type_add_isaccessory_mess%]</span>
						</td>
					</tr>
					<tr class="trstyle2 [%if $styleid==3 || $styleid==4%]displaynone[%/if%]">
						<td width="15%" class="trtitle01">[%$ST.typemanage_type_add_ispart%]</td>
						<td width="85%" class="trtitle02">
							<input type="radio" value="1" name="ispart" checked="checked"/> [%$ST.typemanage_type_add_ispart_1%]&nbsp;
							<input type="radio" value="0" name="ispart"/> [%$ST.typemanage_type_add_ispart_0%]
						</td>
					</tr>
					<tr class="trstyle2">
						<td class="trtitle03" colspan="2">[%$ST.iswap_message%]</td>
					</tr>
					<tr class="trstyle2">
						<td width="15%" class="trtitle01">[%$ST.iswap_title%]</td>
						<td width="85%" class="trtitle02">
							<input type="radio" value="1" name="iswap" checked="checked"/> [%$ST.open_botton_title%]&nbsp;
							<input type="radio" value="0" name="iswap"/> [%$ST.close_botton_title%]
							<span class="cautiontitle">[%$ST.iswap_title_mess%]</span>
						</td>
					</tr>
					<tr class="trstyle2 [%if $styleid==3 || $styleid==4%]displaynone[%/if%]">
						<td width="15%" class="trtitle01">[%$ST.iswap_templates_file%]</td>
						<td width="85%" class="trtitle02">
							<input type="text" id="waptempalte" name="waptempalte" size="30" maxlength="80" value="[%if $typread.waptempalte!=''%][%$typread.waptempalte%][%else%][%$tempname.typelist%][%/if%]" class="infoInput"/>
							<a class="filecheck" href="#body" onclick="javascript:parent.windowsdig('[%$ST.selecttempfile_botton%]','iframe:index.php?archive=templatemain&action=listwindow&inputtext=waptempalte&typeclass=article&skindir=wap&filedir=article&fileclass=&freshid='+Math.random()+'&iframename='+self.frameElement.getAttribute('name'),'750px','400px','iframe');">[%$ST.selecttempfile_botton%]</a>
							<span class="cautiontitle">[%$ST.subjectmanage_type_add_template_mess%]</span>
						</td>
					</tr>
					<tr class="trstyle2 [%if $styleid==3%]displaynone[%/if%]">
						<td width="15%" class="trtitle01">[%$ST.iswap_read_templates_file%]</td>
						<td width="85%" class="trtitle02">
							<input type="text" id="wapreadtemplate" name="wapreadtemplate" size="30" maxlength="80" value="[%if $typread.wapreadtemplate!=''%][%$typread.wapreadtemplate%][%else%][%$tempname.typeread%][%/if%]" class="infoInput"/>
							<a class="filecheck" href="#body" onclick="javascript:parent.windowsdig('[%$ST.selecttempfile_botton%]','iframe:index.php?archive=templatemain&action=listwindow&inputtext=wapreadtemplate&typeclass=article&skindir=wap&filedir=article&fileclass=&freshid='+Math.random()+'&iframename='+self.frameElement.getAttribute('name'),'750px','400px','iframe');">[%$ST.selecttempfile_botton%]</a>
							<span class="cautiontitle">[%$ST.subjectmanage_type_add_template_mess%]</span>
						</td>
					</tr>
				</table>
			</div>
		</div>
	</div>
</div>
<div id="downbotton">
	<div id="subbotton">
		<table border="0" width="100%">
			<tr>
				<td id="right"><input type="submit" id="typeaddsubmitbotton" name="Submit" value="[%$ST.botton_add%]" class="buttonface" /></td>
				<td id="left" class="padding-left5"><input type="button" name="cancel" onClick="javascript:closewindow();" value="[%$ST.botton_add_reset%]" class="buttonface" /></td>
			</tr>
		</table>
	</div>
</div>
</form>
</body>

</html>