[%if count($array) > 0%]
[%forlist from=$array key=list%]
<div class="infolist" onselectstart="return false;" title="[%$array[list].keycode%]-[%$array[list].langstr%]" [%if @this->powercheck('system','lanpackedit')==true %]ondblClick="javascript:parent.onbotton('[%$ST.language_edit_title%]','index.php?archive=languagepack&action=lanpackedit&lpid=[%$array[list].lpid%]&freshid='+Math.random()+'&iframename='+self.frameElement.getAttribute('name'),true,'lngpack[%$array[list].lpid%]',self.frameElement.getAttribute('name'));"[%/if%]>
	<table border="0" style="border-collapse:collapse" width="100%" bordercolor="#FFFFFF">
		<tr>
			<td width="4%">[%if $array[list].lockin==0%]<input type="checkbox" name="selectinfoid" value="[%$array[list].lpid%]">[%/if%]</td>
			<td width="5%">[%$array[list].lpid%]</td>
			<td width="21%">[%$array[list].title|cutstr(15)%]</td>
			<td width="18%">[%$array[list].keycode%]</td>
			<td width="42%">[%$array[list].langstr|cutstr(32)%]</td>
			<td width="10%" id="infotype">
				[%if @this->powercheck('system','lanpackedit')==true %]
				<table>
					<tr>
						<td><a class="setedit" onclick="javascript:parent.onbotton('[%$ST.language_edit_title%]','index.php?archive=languagepack&action=lanpackedit&lpid=[%$array[list].lpid%]&freshid='+Math.random()+'&iframename='+self.frameElement.getAttribute('name'),false,'lngpack[%$array[list].lpid%]',self.frameElement.getAttribute('name'));" id="lngpack[%$array[list].lpid%]" href="#body" title="[%$ST.language_edit_title%]" hidefocus="true">[%$ST.setedit_botton%]</a></td>
					</tr>
				</table>
				[%/if%]
			</td>
		</tr>
	</table>
</div>
[%/forlist%]
[%else%]
<div class="infolist">
<table border="0" style="border-collapse:collapse" width="100%" bordercolor="#FFFFFF">
	<tr>
	    <td align="center">[%$ST.list_nothing_title%]</td>
	</tr>
</table>
</div>
[%/if%]